.container {
    height: calc(100vh - 64px - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        height: 400px;
        gap: 20px;
        border-radius: 28px;
        backdrop-filter: blur(5px);
        background-color: rgba(92,168,255, 0.25);
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
        border: 1px rgba(255,255,255,0.4) solid;
        border-bottom: 1px rgba(40,40,40,0.35) solid;
        border-right: 1px rgba(40,40,40,0.35) solid;
    }
}