.wrapper {
    margin-bottom: 12px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 12px;
    &:hover {
        border-color: #d9d9d9;
    }
}

.component {
   pointer-events: none;  // 屏蔽鼠标的行为  不触发input输入
}
